body{
    color:aqua;
    background-color: lightcoral;
}
.heading{
    width: 80%;
    font-size: 22px;
}
#camera{
    border: 2px groove aqua;
    width: 350px;
    height: 300px;
}
.name_of_objects, #result_object_name, #result_accuracy_name{
    color:blanchedalmond;
}